
{% if flashMessage is not defined %}
	<div class="alert alert-success hidden" id="message" role="alert">
		<div class="container">
			<span id="user-message"></span>
		</div>
            <button type="button" class="close" data-dismiss="alert">×</button>
	</div>
{% endif %}

{% for flashMessage in app.session.flashbag.get('mensaje') %}
	<div class="alert alert-success" role="alert">
		<div class="container"><span id="user-message"> {{ flashMessage }} </span></div>
                <button type="button" class="close" data-dismiss="alert">×</button>
	</div>
{% endfor %}