
{% block body %}

                  <div class="block block-drop-shadow">
                    <div class="head bg-dot20">
                        <h2>Estadísticas</h2>
                        <div class="side pull-right">               
                            <ul class="buttons">                                
                                <li><a href="#"><span class="icon-cogs"></span></a></li>
                            </ul>
                        </div>
                        <div class="head-subtitle">Cantidad de Alumnos, Evaluaciones y Rutinas.</div>                        
 <div class="head-panel nm tac">
                            <div class="sparkline">                            
                                <span sparkType="pie" sparkWidth="100" sparkHeight="100">5079,3768,7537</span>
                            </div>                                                         
                        </div>

                        <div class="head-panel nm"> 
                            <div class="hp-info hp-simple pull-left hp-inline">
                                <span class="hp-main"><span class="icon-circle"></span> Allocated 5079 Mb </span>                                
                            </div>                 
                            <div class="hp-info hp-simple pull-left hp-inline">                                
                                <span class="hp-main"><span class="icon-circle text-info"></span> In Cache 3768 Mb </span>
                            </div>                            
                            <div class="hp-info hp-simple pull-left hp-inline">                                
                                <span class="hp-main"><span class="icon-circle text-primary"></span> Aviable 7537 Mb</span>
                            </div>                                                
                        </div>                        
                    </div>
                </div>

            {% endblock %}